apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: {{ .Values.namespace }}
data:
  PORT: "5000"
  MONGO_URI: "mongodb://mongodb:27017/kubepulse"
  REDIS_HOST: "redis"
  REDIS_PORT: "6379"
  OPENAI_MODEL: "{{ .Values.openai.model }}"

---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  JWT_SECRET: "kubepulse-secret-change-in-production-2024"
  # Fill this AFTER deploy using kubectl edit, or hardcode for local dev
 OPENAI_API_KEY: ""
